includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/Modules/*/Database/migrations/*
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
